{
    "extends": "eslint:recommended",
    "env":{
      "es6": true,
      "jest": true,
      "node":true
    },
    "rules":{
        "no-multi-spaces":"warn",
        "no-irregular-whitespace":"warn",
        "no-multiple-empty-lines":"warn"
        // "indent":["error",2]
    }
}